<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
    <add name="oracledb"
         providerName="System.Data.Oracle"
         connectionString="Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST={0})(PORT={1}))(CONNECT_DATA=(SERVICE_NAME={2})));User Id={3};Password={4};" />
  </connectionStrings>
  <appSettings>
    <add key="SERVEUR" value="freesio.lyc-bonaparte.fr"/>
    <add key="PORT" value="21521"/>
    <add key="SID" value="slam"/>
    <add key="USERID" value="saltelsql"/>
    <add key="PWD" value="slam1812"/>
  </appSettings>
</configuration>